body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.details {
    display: none;
}

#btn {
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* #btn:active{
    cou
} */